@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script&family=Fuggles&family=Pacifico&family=Patua+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Caveat Brush";
  src: url("/fonts/CaveatBrush-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.caveat{
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.caveat-light {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body,
html {
  overflow-x: hidden;
}


 .scaled{

  border-radius: 50% 50% 0% 0%;
  transform: scaleX(1.2);

  


 }
 @media (max-width: 768px) {
  .scaledsm{
    border-radius: 50% 50% 0% 0%;
    transform: scaleX(3);
  
    

  }
 }